img{
    height: 30px;
    width: 30px;
    margin: 40px 0px 0px 50px;
}

body{
    background-image: url("cls.png");
    background-size: cover;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    color:black;
    list-style: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 20px;
    font-weight: bold;
    margin: 0px 0px 0px 30px;
    color: white;
}

#a{
    margin: 40px 400px 0px 0px;
}
#b{
      background-color: orangered;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 130px;
    border-radius: 20px;
   border: none;
   
}

h1{
    font-size: 63px;
    margin: 100px 0px 0px 20px;
    color: white;
}

p{
    margin: 20px 0px 0px 20px;
    color: white;
}

#c{
       background-color: orangered;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 110px;
    border-radius: 40px;
   border: none;
   margin: 20px 0px 0px 20px;
}